<IfModule mod_rewrite.c>
    RewriteEngine On
    # tout passe par index.php, sauf les fichiers réellement présents
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
